<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="" method="POST" id="form">
    <label id="name">
        <input type="text" name="name" placeholder="name">
    </label>
    <label id="password" th:value="password">
        <input type="text" name="password" placeholder="password">
    </label>
    <button type="button" id="btn_login">로그인</button>
    <button type="button" id="btn_signIn">회원가입</button>
</form>
</body>

<script>
    let btn_Id = document.getElementById("btn_login");
    let btn_SignIn = document.getElementById("btn_signIn");
    let frm = document.getElementById("form");

    btn_Id.addEventListener("click", function(event){
        //event.preventDefault();
        //return false;
        frm.setAttribute("action", "/member/login");
        frm.submit();
    });

    btn_SignIn.addEventListener("click", function(event){
        //event.preventDefault();
        //return false;
        frm.setAttribute("action", "/member/sign-in");
        frm.submit();
    });


</script>
</html>