<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="" method="post" id="form">
    <label id="id">
        <input type="text" name="id" placeholder="id">
    </label>
    <label id="password" th:value="password">
        <input type="text" name="password" placeholder="password">
    </label>
    <button type="button" id="login">로그인</button>
    <button type="button" id="signIn">회원가입</button>
</form>
</body>

<script>
    var btn_Id = document.getElementById("login");
    var btn_SignIn = document.getElementById("signIn");
    var frm = document.getElementById("form");

    btn_Id.addEventListener("click", function(event){
        //event.preventDefault();
        //return false;
        frm.setAttribute("action", "/member/login-action");
        frm.submit();
    });

    btn_SignIn.addEventListener("click", function(event){
        //event.preventDefault();
        //return false;
        frm.setAttribute("action", "/member/signIn");
        frm.submit();
    });


</script>
</html>